{% load staticfiles %}
<!DOCTYPE html>
<html>
  <head>
    <title>Dockerizing Django!</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="{% static "bootstrap.min.css" %}">
    <link rel="stylesheet" href="{% static "main.css" %}">
  </head>
  <body>
    <div class="container">
      {% block content %}
      {% endblock %}
    </div>
    <script src="{% static "jquery.min.js" %}"></script>
    <script src="{% static "bootstrap.min.js" %}"></script>
  </body>
</html>
